h1{
    text-align: center;
    background-color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    margin: 0px;
}

th{
    background-color: blue;
    color: white;
    font-weight: bold;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.kotak_next{
    display: flex;
    position: absolute;
    top: 20%;
    left: 59%;
    background-color: rgb(0, 0, 255);
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}

.kotak_prev{
    display: flex;
    position: absolute;
    top: 20%;
    left: 39%;
    background-color: blue;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}

.sign_day{
    background-color: red;
    color: white;
}

.kotal_next:hover{
    background-color: black;
}

.kotak_prev:hover{
    background-color: black;
}